<main>
    <h2>
        <b>¿Quienes somos?</b>
    </h2>
    
    <p>
        En nuestra plataforma creemos en el poder de compartir conocimientos y conectar a las personas con sus pasiones. 
        Somos un espacio donde expertos de todas las áreas pueden ofrecer sus cursos —desde arte y música hasta programación 
        y fitness—, mientras que quienes buscan aprender pueden explorar una amplia variedad de opciones diseñadas para enriquecer sus vidas.
    
    
    </p>
    
    <p>
        Nuestra misión es ser el puente entre quienes desean enseñar y quienes quieren aprender. Ya seas un instructor con una habilidad 
        única para compartir o un estudiante ansioso por adquirir nuevas competencias, aquí encontrarás un lugar que valora el aprendizaje 
        continuo y la diversidad.
    </p>
    
    
        <h3><b>¿Qué ofrecemos?</b></h3>
    <p>
    Sube Tu Curso: Si eres experto en alguna área y deseas compartir tu conocimiento, nuestra plataforma te brinda todas las herramientas 
    necesarias para crear y publicar tu propio curso. Desde la creación de contenido interactivo hasta la gestión de tus estudiantes, 
    todo está pensado para que puedas enfocarte en lo que mejor sabes hacer: enseñar.
    
    Compra Cursos de Calidad: Explora una extensa biblioteca de cursos diseñados por profesionales y expertos en sus campos. 
    Ya sea que quieras aprender una nueva habilidad, mejorar en tu profesión o simplemente seguir una pasión personal, encontrarás el curso perfecto para ti.
    </p>
    
    
    <h3><b>¿Por qué elegirnos?</b></h3>
    
    
        <p>
            <b>Variedad y Calidad:</b> Ofrecemos cursos en una amplia gama de categorías, garantizando que siempre haya algo que se ajuste a tus intereses y necesidades.
    
        </p>

        <p>
            <b>Comunidad Activa:</b> Únete a una comunidad vibrante de instructores y estudiantes que comparten tus mismas pasiones. Participa en foros, comparte experiencias 
             y crece junto a otros miembros.

        </p>
        <p>

            <b>Accesibilidad:</b> Aprende a tu propio ritmo y desde cualquier lugar. Nuestra plataforma está diseñada para ofrecer una experiencia de aprendizaje flexible 
        y adaptada a tu estilo de vida.
        </p>
        
        
        <p>
            En Recursos, creemos que el conocimiento es poder y que todos merecen la oportunidad de aprender y enseñar. Ya sea que busques adquirir
            nuevas habilidades o compartir tus conocimientos con el mundo, estamos aquí para apoyarte en cada paso del camino.
           
           ¡Únete a nosotros y comienza tu viaje de aprendizaje y enseñanza hoy mismo!

        </p>
        
        
        
    
    
    

</main>


